.header_title.container-fluid.bg-dark
    .header_title-content.container.py-3
        .header_title-text.d-flex.justify-content-center.align-item-center.fz-1.text-white.fw-200 SEE BETTER THAN YESTERDAY - ANNA LOVE YOU!
