header.container-fluid.header
    .header-main.container
        .row.py-2
            .header-logo.col
                img(src="/View/layout/images/logo-anna.svg", alt="")
            nav.navbar.navbar-expand-sm.col-8
                #collapsibleNavbar.collapse.navbar-collapse.justify-content-center.align-items-center.gap-2
                    ul.navbar-nav
                    li.nav-item.list-style-none
                        a.nav-link.fz-1.text-dark.fw-600(href='#') TRANG CHỦ  
                    li.nav-item.list-style-none
                        a.nav-link.fz-1.text-dark.fw-600(href='#') VỀ ANNA 
                    li.nav-item.dropdown.list-style-none
                        a.nav-link.fz-1.text-dark.fw-600.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown') SẢN PHẨM 
                        ul.dropdown-menu
                            li.list-style-none
                                a.dropdown-item(href='#') Gọng kính 
                            li.list-style-none
                                a.dropdown-item(href='#') Kính áp tròng
                            li.list-style-none
                                a.dropdown-item(href='#') Gọng kính trẻ em  
                            li.list-style-none
                                a.dropdown-item(href='#') Tròng kính  
                            li.list-style-none
                                a.dropdown-item(href='#') Kính râm   
                    li.nav-item.list-style-none
                        a.nav-link.fz-1.text-dark.fw-600(href='#') STORE                
                    li.nav-item.list-style-none
                        a.nav-link.fz-1.text-dark.fw-600(href='#') BLOG                
                    li.nav-item.list-style-none
                        a.nav-link.fz-1.text-dark.fw-600(href='#') HÀNH TRÌNH TỰ TẾ                
            .header-right.col.d-flex.align-items-center.justify-content-end
                .header-icon.d-flex.align-items-center.gap-4
                    ion-icon(name='search-outline').text-dark.fz-16.header-icon_item
                    ion-icon(name='cart-outline').text-dark.fz-16.header-icon_item
                    .header-account.d-flex.align-items-center.gap-2
                        ion-icon(name='person-circle-outline').text-dark.fz-16.header-icon_item
                        
                            
                    