mixin button-primary(text)
    button.button-primary.text-white.fw-700.fz-text-b3.bg-secondary.rounded-2.px-3=text
mixin customer 
    .customer-items
        .customer-content.bg-white.rounded-10.lh-base
            p.p-4.fz-text-b2.text-gray.fw-500 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
        .customer-person.row.pt-4
            .customer-img.col-2.rounded-3
                img(src="./images/profile.jpg", alt="alt").rounded-3
            .customer-info.col-10
                span.text-color.fz-text-b1 Head Of Idea
                p.text-color.fz-h6.fw-600 Nguyen Hoang Thong    