section.py-5 
    .container
        .subscribe 
            .subscribe-content.p-8.rounded-10
                .section-header.d-flex.flex-column
                    .category-tag.d-flex.align-items-center.gap-2
                        ion-icon(name="thumbs-up").fz-text-b1.fw-600.p-2.rounded-circle.bg-secondary.text-white
                        span.fz-text-b1.fw-600.text-secondary Why Us
                    .category-title.py-3.d-flex.align-items-center.justify-content-between 
                        h3.text-color.fw-600.fz-h2 Why People Choose Us
                    form.d-flex.gap-3.align-items-center
                        label.d-flex.align-items-center.gap-3.bg-white.rounded-3
                            ion-icon(name="mail").fz-h4.text-color.ps-3.py-3
                            input.fz-text-b1.text-color(type='search' placeholder='Exam@gmail.com' aria-label='Search').border-0.pe-5
                        a(href="#")
                            button.button-primary.bg-input.text-white.fz-h5.fw-600.py-3.px-4.rounded-3(type='submit') Subscribe
section.py-5
    .container 
        .row
            .col-md-6.col-lg-4.col-xl-3
                .row.d-flex.align-items-center
                    .col-3
                        .service-img
                            img(src="./images/service1.webp", alt="alt").img-cover
                    .col-9
                        .service-content.d-flex.flex-column.gap-2 
                            span.text-color.fz-text-b1.fw-500 Fast & Secure Delivery
                            p.text-gray.fz-text-b1 Tell about your service.
            .col-md-6.col-lg-4.col-xl-3
                .row.d-flex.align-items-center
                    .col-3
                        .service-img
                            img(src="./images/service2.webp", alt="alt").img-cover
                    .col-9
                        .service-content.d-flex.flex-column.gap-2 
                            span.text-color.fz-text-b1.fw-500 Money Back Guarantee
                            p.text-gray.fz-text-b1 Within 10 days.
            .col-md-6.col-lg-4.col-xl-3
                .row.d-flex.align-items-center
                    .col-3
                        .service-img
                            img(src="./images/service3.webp", alt="alt").img-cover
                    .col-9
                        .service-content.d-flex.flex-column.gap-2 
                            span.text-color.fz-text-b1.fw-500 24 Hour Return Policy
                            p.text-gray.fz-text-b1 No question ask.
            .col-md-6.col-lg-4.col-xl-3
                .row.d-flex.align-items-center
                    .col-3
                        .service-img
                            img(src="./images/service4.webp", alt="alt").img-cover
                    .col-9
                        .service-content.d-flex.flex-column.gap-2 
                            span.text-color.fz-text-b1.fw-500 Pro Quality Support
                            p.text-gray.fz-text-b1 24/7 Live support.
footer.container-fuild 
    .container.border-top.border-bottom.py-5
        .row 
            .col-md-6.col-lg-4.col-xl-3
                .footer-content.d-flex.flex-column.gap-3
                    h3.fz-h5 Support
                    span.fz-text-b1.text-gray.lh-base QTSC 9 Building, To Ky Street Ho Chi Minh City
                    span
                    span
                    a(href="").footer-email.unlink.d-flex.align-items-center.gap-2
                        ion-icon(name="mail").fz-text-b1.text-gray
                        span.fz-text-b1.text-gray example@gmail.com
                    a(href="").footer-phone.unlink.d-flex.align-items-center.gap-2
                        ion-icon(name="call").fz-text-b1.text-gray
                        span.fz-text-b1.text-gray +84 868412519
            .col-md-6.col-lg-4.col-xl-3
                .footer-content.d-flex.flex-column.gap-3
                    h3.fz-h5 Account
                    span.fz-text-b1.text-gray.lh-base My Account 
                    span.fz-text-b1.text-gray.lh-base Login
                    span.fz-text-b1.text-gray.lh-base Cart
                    span.fz-text-b1.text-gray.lh-base Wishlist
                    span.fz-text-b1.text-gray.lh-base Shop
            .col-md-6.col-lg-4.col-xl-3
                .footer-content.d-flex.flex-column.gap-3
                    h3.fz-h5 Quick Link
                    span.fz-text-b1.text-gray.lh-base About Us
                    span.fz-text-b1.text-gray.lh-base Privacy Policy
                    span.fz-text-b1.text-gray.lh-base Terms Of Use
                    span.fz-text-b1.text-gray.lh-base Contact
            .col-md-6.col-lg-4.col-xl-3
                .footer-content.d-flex.flex-column.gap-4
                    h3.fz-h5 Quick Link
                    .social.d-flex.gap-2
                        img(src="/layout/images/facebook-icon.png", alt="alt")
                        img(src="/layout/images/instagram-icon.png", alt="alt")
                        img(src="/layout/images/linkedin-icon.png", alt="alt")
section
    .container.py-3
        .row.d-flex.align-item-center
            .col-md-6.col-lg-6.col-xl-6
                span.fz-text-b1.text-gray.lh-base © 2023. All rights reserved
            .col-md-6.col-lg-6.col-xl-6.d-flex.gap-3.justify-content-end.align-items-center
                span.fz-text-b1.text-gray.lh-base Accept For
                .paypal.d-flex.align-item-center.gap-3
                    img(src="/layout/images/pay-3.png", alt="alt").img-cover
                    img(src="/layout/images/pay-4.png", alt="alt").img-cover


    